.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_title {
    margin-top: 450px;
    padding: 20px;
}

.welcome span {
    color: white;
    padding-right: 10px;
}



