* {
  font-family: 'Roboto';
}

body {
  background-color: #0a1929;
  background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1613036587_114-p-oranzhevii-igrovoi-fon-153.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

